<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="SlamDunk Suite">
			<directory>tests/SlamDunk/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist>
			<directory suffix=".php">src/SlamDunk/</directory>
		</whitelist>
	</filter>

	<php>
		<ini name="date.timezone" value="UTC"/>
	</php>
</phpunit>